/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.navbar {
    min-height: 80px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    font-weight: 500;
}

/* a.navbar-brand :hover {
    color: black;
} */

a:hover {
    color: black;
    border-bottom: 2px solid #25D366;
    text-decoration: none;
}

/* Sticky footer styles
-------------------------------------------------- */
* {
    font-family: 'Poppins', sans-serif;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .08);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: linear-gradient(to right, #F5F8FA, #F5F8FA);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    /* Vertically center the text there */
}

/*
* Colors
-------------------------------------*/

.nav-primary {
    background-image: linear-gradient(to left, #25D366, #128C7E)
}

/* Navbar bg color*/
.nav-txt-primary {
    color: #252525;
    text-transform: uppercase;
}

.navbar-light .navbar-brand {
    color: #252525;
}

.navbar-light .navbar-nav .nav-link {
    color: #252525;
}

.s-bg-primary {
    background-color: #252525;
}

.s-txt-primary {
    color: #128C7E;
}