/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.navbar {
    min-height: 80px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    font-weight: 500;
}

/* a.navbar-brand :hover {
    color: black;
} */

a:hover {
    color: black;
    border-bottom: 2px solid #25D366;
    text-decoration: none;
}

/* Sticky footer styles
-------------------------------------------------- */
* {
    font-family: 'Poppins', sans-serif;
    font-size: small;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .08);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: linear-gradient(to right, #F5F8FA, #F5F8FA);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    /* Vertically center the text there */
}

/*
* Colors
-------------------------------------*/

.nav-primary {
    background-image: linear-gradient(to left, #25D366, #128C7E)
}

/* Navbar bg color*/
.nav-txt-primary {
    color: #252525;
    text-transform: uppercase;
}

.navbar-light .navbar-brand {
    color: #252525;
}

.navbar-light .navbar-nav .nav-link {
    color: #252525;
}

.s-bg-primary {
    background-color: #252525;
}

.s-txt-primary {
    color: #25D366;
}

/*
* Category
-----------------------*/
.backgroundWhite {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.backgroundWhiteBorder {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
}

.backgroundWhiteBorder10Padding {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

/*
* Buttons
---------------------------------------*/
.btn-main {
  background: #25D366;
  border: 1px solid #25D366;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.btn-main:hover,
.btn-main:active {
  background-color: initial;
  background-position: 0 0;
  color: #25D366;
}

.btn-main:active {
  opacity: .5;
}