@model int

<div class="row">
	<div class="col-6">
		<input type="submit" class="btn btn-success form-control" asp-route-id="@Model" value="Update">
	</div>
	<div class="col-6">
		<button asp-action="Index" class="btn btn-outline-secondary form-control">Back</button>
	</div>
</div>